.App {
  text-align: center;
}

.home-btn {
  background-color: rgba(233, 100, 215, 0.699);
  margin: 20px;
  padding: 15px 20px;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  background-color: rgb(221, 212, 212);
  border-radius: 10px;
  margin: 20px;
  height: 250px;
  width: 530px;
  padding: 30px 50px;
  position: relative;
  left: 430px;
  gap: 10px;
  font-size: 40px;
  font-weight: bold;
}

input {
  font-size: 15px;
  margin: 10px;
  padding: 10px;
}

.btn1 {
  margin: 20px;
  font-size: 15px;
  padding: 10px 25px;
  background-color: red;
  color: white;
  border: 0px solid rgb(221, 212, 212);
  border-radius: 8px;
}

.btn2 {
  margin: 20px;
  font-size: 15px;
  padding: 10px 25px;
  background-color: rgb(109, 96, 96);
  color: white;
  border: 0px solid rgb(221, 212, 212);
  border-radius: 8px;
}

.chart {
  position: relative;
  top: 50px;
  height: 250px;
  width: 350px;
}

.cards-container {
  background-color: aquamarine;
  color: blue;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  background-color: white;
  color: black;
  margin: 5px;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  flex: 1 0 auto;
}